<div class="footer4 b-t spacer">
  <div class="container text-center">
    <div class="round-social light">
      <!-- <a routerLink="#" class="link"><i class="fa fa-facebook"></i></a> -->
      <a href="https://twitter.com/BlackSailsPuq" class="link" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://www.youtube.com/channel/UCMoykQJw9PRGzmll093uYIg" class="link" target="_blank"><i class="fa fa-youtube-play"></i></a>
      <a href="https://www.instagram.com/blacksailsspa/" class="link" target="_blank" ><i class="fa fa-instagram"></i></a>
    </div>
    <div class="mt-3 copyright">
      All Rights Reserved by <a href="https://www.blacksailsspa.com/">Black Sails SPA</a>.
    </div>
  </div>
</div>
